{% extends "base.html" %}

{% block content %}

    <h1>{{ person }}</h1>
    <div id="penalty-balance">
        {% include "people/partials/penalty_balance.html" %}
    </div>
    <div id="penalty-yearly-summary">
        {% include "people/partials/penalty_yearly_summary.html" %}
    </div>
    <div id="penalty-area">
        {% include "people/partials/penalty_area.html" %}
    </div>
    <div id="history-area">
        {% include "people/partials/history_area.html" %}
    </div>
    {% if can_manage_penalties %}
        <section>
            <h2>Strafe aussprechen</h2>

            <form
                    method="post"
                    hx-post="{% url 'penalties:issue' public_id=person.public_id %}"
                    hx-target="#penalty-area"
                    hx-swap="outerHTML"
            >
                {% csrf_token %}

                <select name="catalog_entry">
                    {% for entry in catalog_entries %}
                        <option value="{{ entry.pk }}">
                            {{ entry.name }} – {{ entry.amount }} €
                        </option>
                    {% endfor %}
                </select>

                <button type="submit">
                    Strafe aussprechen
                </button>
            </form>
        </section>
    {% endif %}
{% endblock %}